@import "tailwindcss";


/* Invisible scroll */
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Queensides", serif;
}