@import "tailwindcss";


/* Invisible scroll */
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Queensides", serif;
}

/*  Visible scroll */
.stylish-scroll {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}

.stylish-scroll::-webkit-scrollbar {
  height: 8px;
  width: 20px;
}

.stylish-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease-in-out;
  box-shadow: inset 30px 0 0 rgba(230, 230, 230, 1), inset -30px 0 0 rgba(230, 230, 230, 1);
}