@import "tailwindcss";

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

body {
  font-family: "Queensides", serif;
}


.stylish-scroll {
  overflow: auto !important; /* Asegura que siempre haya scroll */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia en iOS */
}


/* Personaliza la barra de desplazamiento en navegadores Webkit */
.stylish-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Estilo del "thumb" (la parte que se mueve) */
.stylish-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: background 0.3s ease-in-out;
}

/* Efecto hover para el "thumb" */
.stylish-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}